*
{
    margin: 0px;
    padding: 0px;
}
#main-table
{
    width : 100%;
    display: flex;
    flex-flow : row wrap;
}
.user
{
    height : 10rem;
    display : grid;
    width : 40%;
    grid-template-rows : 5fr 1fr 1fr;

}